
{% extends "_base.html" %}
{% load static %}
{% block title %}home page{% endblock title %}

{% block content %}


{% comment %} {% if user.is_authenticated %}
<p>
    hello,{{request.user}}
    
</p>
<p>email :{{user.email}} </p>
<form action="{% url 'logout' %}"method='POST'>

    {% csrf_token %}
    <button type="submit">Log Out</button>
</form>
{% else %}
    <h1> you are currently not logged in.</h1>
    <a href="{% url 'login' %}">log in</a>
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %} {% endcomment %}
 <div class="mt-5 pt-5">
    <h1>Home Page</h1>
    <p>Welcome to the Home page of our bookstore.</p>
  </div>
{% endblock content %}